/* ----- Partials ----- */
/* ----- Fonts ----- */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
button, .btn, .btn-group, .btn-group .btn, .form-control.form-lightblue, .custom-select-option.select-lightblue select, textarea.bg-lightgray, .dashboard .btn-new-campaign, .dashboard .cont .bg-lightblue, .current-campaign .cont .right-section .alerts .campaign-alerts .cont-lightgray, .current-campaign .cont .right-section .alerts .campaign-alerts .cont-lightgray .bg-lightblue, .single-survey h3.active, .survey-file-browse .scroll-style::-webkit-scrollbar-track, .survey-file-browse .scroll-style::-webkit-scrollbar-thumb, .blacklist .cont .bg-lightgray {
  border-radius: 8px !important; }

/* ----- Colors ----- */
/* ----- Bootstrap breakpoints ----- */
/* ----- Large devices (desktops, less than 1200px) ----- */
/* ----- Medium devices (tablets, less than 992px) ----- */
/* ----- Small devices (landscape phones, less than 768px) ----- */
/* ----- Extra small devices (portrait phones, less than 576px) ----- */
/* ----- Sections ----- */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  background: url(../images/screen-bg.jpg) no-repeat center top fixed;
  background-size: cover;
  color: #a9a9a9; }

.wrapper {
  width: 100%; }

.cont {
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 12.09px 0.91px rgba(0, 0, 0, 0.22);
          box-shadow: 0 4px 12.09px 0.91px rgba(0, 0, 0, 0.22);
  width: 100%;
  margin-bottom: 30px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

h3 {
  font-size: 1.308em;
  margin-bottom: 12px; }

p {
  line-height: 1.3; }

label {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 5px; }

.text-lightblue {
  color: #26a9d9 !important; }

.text-bold {
  font-weight: 500 !important; }

.bg-lightblue {
  background-color: #26a9d9;
  color: #fff; }

.bg-lightgray {
  background-color: #f1f1f1; }

/* ----- Buttons ----- */
button, .btn {
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  font-weight: 500; }
  button i, button span, .btn i, .btn span {
    vertical-align: middle; }
  button i, .btn i {
    font-size: 1.175em;
    margin-right: 6px; }
  button:focus, .btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none; }
  button:hover, .btn:hover {
    opacity: 0.9; }

.btn-group {
  background-color: #e9e9e9; }
  .btn-group .btn {
    padding: 7px 10px;
    background-color: #e9e9e9;
    color: #c7c7c7; }
    .btn-group .btn.active {
      background-color: #26a9d9;
      color: #fff; }
      .btn-group .btn.active:nth-of-type(1) {
        margin-right: 2px; }
      .btn-group .btn.active:nth-of-type(2) {
        margin-left: 2px; }
    .btn-group .btn i {
      font-size: 1em;
      margin-right: 0; }

.btn-group-right {
  padding: 0 31px;
  height: 32px;
  margin-left: 18px;
  color: #fff !important; }
  .btn-group-right i {
    font-size: 1.25em; }

.btn-lightblue {
  background-color: #26a9d9;
  padding: 2.5px 8px; }

.btn-add {
  width: 25px;
  height: 25px;
  padding: 0 5px; }
  .btn-add i {
    font-size: 1.25em; }

/* ----- Forms ----- */
.form-control {
  border: none;
  border-radius: 0;
  padding: 0 0 1px;
  font-size: 1.154em;
  border-bottom: 1px solid #b6b6b6;
  color: #a9a9a9; }
  .form-control:focus {
    color: #a9a9a9;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #26a9d9;
    outline: none; }
  .form-control:disabled {
    cursor: not-allowed; }
    .form-control:disabled:hover {
      opacity: 0.8; }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: lightgray; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: lightgray; }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: lightgray; }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: lightgray; }
  .form-control.form-lightblue {
    background-color: #26a9d9;
    border: none;
    color: #fff;
    font-size: 1em;
    width: auto;
    padding: 4px 8px; }
    .form-control.form-lightblue.form-num {
      width: 33px;
      text-align: center; }

/* ----- Hides the arrow of Input Number ----- */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; }

/* ----- Custom Select ----- */
.custom-select-option {
  position: relative;
  vertical-align: middle;
  width: 100%;
  /*  Custom dropdown arrow */
  /*  Custom dropdown arrow cover */ }
  .custom-select-option select {
    border-radius: 0;
    cursor: pointer;
    margin: 0;
    text-indent: 0.01px;
    text-overflow: '';
    /*Hiding the select arrow for firefox*/
    -moz-appearance: none;
    /*Hiding the select arrow for chrome*/
    -webkit-appearance: none;
    /*Hiding the select arrow default implementation*/
    appearance: none; }
    .custom-select-option select:not([size]):not([multiple]) {
      height: 20px; }
  .custom-select-option:before, .custom-select-option:after {
    content: "";
    position: absolute;
    pointer-events: none; }
  .custom-select-option:after {
    font-family: "Fontawesome";
    font-size: 1.1em;
    font-weight: bold;
    content: "\f078";
    height: 1em;
    line-height: 1;
    right: 0;
    top: 45%;
    margin-top: -0.5em; }
  .custom-select-option:before {
    right: 0;
    top: 0;
    bottom: 0; }
  .custom-select-option.active:after {
    content: "\f077"; }
  .custom-select-option.select-lightblue select {
    background-color: #26a9d9;
    color: #fff;
    border: none;
    padding: 0 10px;
    font-size: 1em;
    font-weight: 500; }
    .custom-select-option.select-lightblue select:not([size]):not([multiple]) {
      height: 24px; }
  .custom-select-option.select-lightblue:after {
    color: #fff;
    right: 6px; }
  .custom-select-option.select-lightblue.select-num {
    width: 50px; }
    .custom-select-option.select-lightblue.select-num select {
      padding: 4px 7px; }

/* ----- Custom Input checkbox ----- */
.custom-checkbox {
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */ }
  .custom-checkbox input[type="checkbox"]:not(:checked),
  .custom-checkbox [type="checkbox"]:checked {
    position: absolute;
    left: -9999px; }
  .custom-checkbox input[type="checkbox"]:not(:checked) + label,
  .custom-checkbox input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    color: #a9a9a9;
    font-size: 1em;
    line-height: 1; }
  .custom-checkbox input[type="checkbox"]:not(:checked) + label:before,
  .custom-checkbox input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -4px;
    width: 21px;
    height: 21px;
    border-radius: 5px; }
  .custom-checkbox input[type="checkbox"]:not(:checked) + label:after,
  .custom-checkbox input[type="checkbox"]:checked + label:after {
    font-family: "Fontawesome";
    content: "\f00c";
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 1.3em;
    color: #fff; }
  .custom-checkbox input[type="checkbox"]:not(:checked) + label:before {
    background-color: #a9a9a9; }
  .custom-checkbox input[type="checkbox"]:checked + label:before {
    background-color: #56e82e; }

/* ----- Slider ----- */
.slider-range {
  max-width: 235px;
  width: 100%; }

.ui-slider {
  border: none;
  background: #a9a9a9;
  height: 2px; }
  .ui-slider .ui-slider-handle {
    border: none;
    background: #26a9d9;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    top: -6px;
    cursor: pointer;
    z-index: 1; }
  .ui-slider .ui-slider-range {
    background: #26a9d9;
    height: 2px;
    top: -1px; }
  .ui-slider.ui-slider-disabled {
    opacity: 1; }
    .ui-slider.ui-slider-disabled .ui-slider-range, .ui-slider.ui-slider-disabled .ui-slider-handle {
      background: #a9a9a9; }

.ui-state-active, .ui-widget-content .ui-state-active {
  border: none;
  background: #26a9d9;
  color: #fff; }

/* ----- Toggle Switch ----- */
.switch {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 11px;
  margin: 0 13px;
  vertical-align: middle; }
  .switch input {
    display: none; }
  .switch .slider-round {
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid #a9a9a9;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .switch .slider-round:before {
      position: absolute;
      content: "";
      height: 11px;
      width: 11px;
      left: -1px;
      bottom: -1px;
      border: 1px solid #a9a9a9;
      border-radius: 50%;
      background-color: white;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  .switch input:checked + .slider-round {
    background-color: #26a9d9;
    border: none; }
    .switch input:checked + .slider-round:before {
      width: 9px;
      height: 9px;
      border: none;
      bottom: 1px;
      -webkit-transform: translateX(9px);
              transform: translateX(9px); }

textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none; }
  textarea.bg-lightgray {
    border: 1px solid transparent;
    padding: 14px;
    font-size: 0.923em;
    line-height: 1.5; }
    textarea.bg-lightgray:focus {
      border-color: #26a9d9;
      background-color: #f1f1f1; }
    textarea.bg-lightgray[readonly] {
      background: transparent !important;
      border-color: transparent !important; }

.sidebar {
  background: url(../images/navigation-bg.jpg) center top no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 999;
  width: 300px;
  height: 100%;
  color: #fff;
  top: 0;
  left: 0;
  overflow: auto; }
  .sidebar.active {
    left: 0; }
  .sidebar .logo {
    width: 139px;
    height: 38px;
    background: url(../images/logo.png) center top no-repeat;
    margin: 47px 0 150px 65px; }
    .sidebar .logo span {
      display: none; }
  .sidebar ul {
    margin-bottom: 100px; }
    .sidebar ul li:first-child a {
      padding-left: 70px; }
    .sidebar ul li a {
      display: block;
      color: #fff;
      padding: 6px 0;
      font-weight: 500;
      padding-left: 90px; }
      .sidebar ul li a.active {
        color: #fff !important;
        background-color: #2082a3 !important; }
        .sidebar ul li a.active:after {
          font-family: "Fontawesome";
          content: "\f054";
          font-size: 1.5em;
          margin: -4px 8px 0 0;
          float: right; }
      .sidebar ul li a:hover {
        text-decoration: none;
        color: #2082a3; }

@media screen and (max-width: 991px) {
  .sidebar {
    left: -300px;
    -webkit-transition: left 0.5s;
    transition: left 0.5s; } }
.right-section {
  margin-left: 300px; }
  .right-section.active {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0.5; }
  .right-section .navicon {
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 99;
    cursor: pointer;
    display: none; }
    .right-section .navicon i {
      color: #a9a9a9;
      font-size: 2.5em; }
    .right-section .navicon.active {
      top: 0;
      right: 0;
      bottom: 0;
      color: rgba(255, 255, 255, 0);
      -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s; }
    .right-section .navicon:hover {
      opacity: 0.9; }

@media screen and (max-width: 991px) {
  .right-section {
    margin-left: 25px; }
    .right-section .navicon {
      display: block; }
    .right-section .wrapper {
      padding: 70px 50px !important; } }
@media screen and (max-width: 767px) {
  .right-section {
    margin: 0; }
    .right-section .wrapper {
      padding: 70px 25px !important; } }
/* ----- Pages ----- */
.dashboard {
  padding: 30px 55px;
  max-width: 1200px; }
  .dashboard .btn-new-campaign {
    padding: 6px 30px; }
  .dashboard h3 {
    margin-bottom: 16px; }
  .dashboard a {
    color: #a9a9a9; }
    .dashboard a:hover {
      text-decoration: none; }
  .dashboard .cont {
    padding: 23px 30px;
    max-width: 512px; }
    .dashboard .cont .bg-lightblue {
      color: #fff;
      padding: 2.5px 17px;
      margin-bottom: 12px; }
    .dashboard .cont .created {
      margin-bottom: 2px; }
    .dashboard .cont .modified {
      margin-bottom: 40px; }
    .dashboard .cont .p-audience {
      margin-top: 35px; }

.create-campaign {
  padding: 57px; }
  .create-campaign .cont {
    max-width: 490px; }
    .create-campaign .cont.new-campaign {
      padding: 24px 22px 34px; }
      .create-campaign .cont.new-campaign textarea {
        max-width: 365px; }
      .create-campaign .cont.new-campaign .campaign-name {
        margin-bottom: 30px; }
    .create-campaign .cont.audience {
      padding: 32px 20px 35px; }
      .create-campaign .cont.audience .custom-select-option {
        max-width: 300px; }
      .create-campaign .cont.audience .btn-lightblue {
        margin-top: 20px;
        padding: 2.5px 18px 2.5px 12px; }
    .create-campaign .cont.survey {
      padding: 30px 20px 35px; }
      .create-campaign .cont.survey .custom-select-option {
        max-width: 300px; }
      .create-campaign .cont.survey .btn-lightblue {
        margin-top: 20px;
        padding: 2.5px 23px 2.5px; }
  .create-campaign .btn-create-campaign {
    padding: 6px 17px; }

.schedule {
  padding: 40px 70px 50px 40px; }
  .schedule .campaign-date {
    max-width: 100px; }
  .schedule .day {
    background-color: #a9a9a9;
    color: #fff;
    border-radius: 4px;
    padding: 1.5px 0;
    text-align: center;
    min-width: 25px;
    height: 25px;
    font-weight: 500;
    font-size: 1.154em;
    margin-bottom: 7px;
    cursor: pointer; }
    .schedule .day.active {
      background-color: #26a9d9; }
  .schedule .time {
    width: 55px;
    height: 24px;
    font-weight: 500;
    color: #a9a9a9; }
  .schedule .slider-range {
    margin: 11px 7px; }
  .schedule .exclude-dates {
    margin-top: 40px; }
  .schedule .thanksgiving {
    max-width: 168px;
    padding: 4px 10px; }
  .schedule .thanksgiving-date {
    max-width: 111px; }

.configuration {
  padding: 40px 30px 25px 40px; }
  .configuration .select-lightblue {
    max-width: 200px;
    margin: 0 auto; }
    .configuration .select-lightblue.voicemail select {
      width: 98px; }
  .configuration .help-circled {
    color: #26a9d9;
    font-size: 1.825em;
    vertical-align: middle; }

.alerts {
  padding: 45px 40px 40px; }
  .alerts textarea {
    height: 125px;
    max-width: 275px;
    margin-bottom: 12px; }
  .alerts .form-group {
    margin-bottom: 3px; }
    .alerts .form-group .form-control {
      max-width: 168px; }
  .alerts .ml-33 {
    margin-left: 33px; }
  .alerts .btn-add {
    margin-left: 41px; }
  .alerts .low-score-alert {
    margin: 35px 0; }

.current-campaign {
  max-width: 1190px;
  padding: 85px 55px; }
  .current-campaign .cont {
    max-width: 625px;
    position: relative; }
    .current-campaign .cont.campaign {
      padding: 55px 30px 75px 35px;
      max-width: 400px; }
      .current-campaign .cont.campaign p {
        margin-bottom: 1.1rem; }
      .current-campaign .cont.campaign table tr th {
        font-weight: normal; }
      .current-campaign .cont.campaign table tr th, .current-campaign .cont.campaign table tr td {
        line-height: 1.4;
        vertical-align: top;
        min-width: 110px;
        max-width: 170px; }
    .current-campaign .cont .leftbar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 150px;
      background-color: #f6f6f6; }
      .current-campaign .cont .leftbar ul {
        margin-top: 32px; }
        .current-campaign .cont .leftbar ul li a {
          display: block;
          font-weight: 500;
          color: #2babc9;
          padding: 6px 7px 6px 25px; }
          .current-campaign .cont .leftbar ul li a:hover {
            text-decoration: none; }
          .current-campaign .cont .leftbar ul li a.active {
            background-color: #30bcd9;
            color: #fff; }
            .current-campaign .cont .leftbar ul li a.active:after {
              font-family: "Fontawesome";
              content: "\f054";
              font-size: 1.25em;
              margin: -3px 0 0 0;
              float: right; }
    .current-campaign .cont .right-section {
      margin-left: 150px; }
      .current-campaign .cont .right-section .schedule {
        padding: 30px 55px 25px 35px; }
        .current-campaign .cont .right-section .schedule .start-date {
          margin-bottom: 12px; }
        .current-campaign .cont .right-section .schedule .end-date {
          margin-bottom: 30px; }
      .current-campaign .cont .right-section .configuration {
        padding: 40px 20px 70px 40px; }
      .current-campaign .cont .right-section .alerts {
        padding: 50px 40px 85px 40px; }
        .current-campaign .cont .right-section .alerts .campaign-alerts {
          margin-bottom: 60px; }
          .current-campaign .cont .right-section .alerts .campaign-alerts .cont-lightgray {
            background-color: #f1f1f1;
            padding: 7px 15px 2px; }
            .current-campaign .cont .right-section .alerts .campaign-alerts .cont-lightgray .bg-lightblue {
              color: #fff;
              width: auto;
              display: inline-block;
              padding: 2.5px 15px;
              font-weight: 500;
              margin: 0 5px 5px 0; }

@media screen and (max-width: 1280px) {
  .current-campaign .cont .right-section .alerts .ml-33 {
    margin-left: 0; } }
.single-survey {
  padding: 50px;
  max-width: 850px; }
  .single-survey h3.active {
    background-color: #f1f1f1;
    max-width: 280px;
    width: 100%;
    padding: 8px 14px; }
  .single-survey textarea.bg-lightgray {
    line-height: 1.3;
    border-radius: 4px !important;
    max-height: 250px; }
    .single-survey textarea.bg-lightgray.textarea-tts {
      font-size: 0.923em;
      padding: 13px 5px 15px 7px;
      max-width: 250px; }
    .single-survey textarea.bg-lightgray.text-lightblue {
      max-width: 330px;
      padding: 11px 35px 11px 9px; }
  .single-survey p.audio-default {
    margin-bottom: 2px; }
  .single-survey p.audio-name {
    font-size: 1.231em;
    margin-bottom: 6px; }
  .single-survey p.tts {
    margin-bottom: 7px; }
  .single-survey .audio-cont {
    max-width: 240px;
    height: 37px; }
    .single-survey .audio-cont audio {
      max-width: 220px;
      width: 100%; }
    .single-survey .audio-cont .btn-gear {
      padding: 0;
      background: none;
      margin-left: 2px;
      width: 18px;
      height: 32px; }
      .single-survey .audio-cont .btn-gear i {
        font-size: 1.5em;
        color: #5a5959; }
  .single-survey .new-voice-survey .btn-save {
    background-color: #43d67e;
    padding: 2.5px 20px;
    margin-top: 10px; }
  .single-survey .new-voice-survey .btn-edit {
    margin: -3px 0 0;
    padding: 3.5px 12px;
    color: #fff !important;
    border-width: 0; }
  .single-survey .new-voice-survey .cont {
    padding: 23px 25px 25px;
    position: relative; }
    .single-survey .new-voice-survey .cont .show-history {
      color: #a9a9a9;
      text-decoration: underline; }
      .single-survey .new-voice-survey .cont .show-history:hover {
        text-decoration: none;
        color: #26a9d9; }
    .single-survey .new-voice-survey .cont .voice {
      position: absolute;
      top: 15px;
      right: 35px; }
    .single-survey .new-voice-survey .cont textarea.bg-lightgray {
      padding: 8px 10px;
      max-width: 470px; }
    .single-survey .new-voice-survey .cont .btn-settings {
      padding: 2px 12px;
      margin-right: 12px; }
      .single-survey .new-voice-survey .cont .btn-settings i {
        margin-right: 8px; }
      .single-survey .new-voice-survey .cont .btn-settings.active {
        background-color: #c7c7c7; }
  .single-survey .intro-outro .cont {
    max-width: 360px;
    padding: 25px 24px 40px; }
    .single-survey .intro-outro .cont textarea.bg-lightgray {
      margin-bottom: 10px; }
  .single-survey .questions .cont {
    padding: 20px 17px 50px;
    max-width: 595px;
    position: relative; }
    .single-survey .questions .cont.active {
      border: 2px solid #f09512; }
    .single-survey .questions .cont .close-circle {
      width: 23px;
      height: 23px;
      padding: 2px 5px;
      background-color: #26a9d9;
      border-radius: 50%;
      position: absolute;
      top: -6px;
      right: -6px;
      cursor: pointer; }
      .single-survey .questions .cont .close-circle i {
        color: #4dcfff;
        font-size: 1.2em;
        line-height: 0; }
      .single-survey .questions .cont .close-circle:hover {
        opacity: 0.9; }
    .single-survey .questions .cont .list-unstyled {
      margin: 10px 0 0 12px; }
      .single-survey .questions .cont .list-unstyled li {
        margin-bottom: 6px;
        height: 24px; }
        .single-survey .questions .cont .list-unstyled li span.text-lightblue {
          font-weight: 500; }
    .single-survey .questions .cont .btn-question {
      border-radius: 4px !important;
      padding: 2px 3px;
      margin-left: 2px; }
      .single-survey .questions .cont .btn-question:hover {
        color: #fff; }
  .single-survey .btn-add-question {
    padding: 7px 30px; }

@media screen and (max-width: 575px) {
  .single-survey .new-voice-survey .btn-settings {
    display: block;
    margin: 0 0 5px; } }
.surveys {
  padding: 56px;
  max-width: 1132px; }
  .surveys .btn-create-survey {
    padding: 6px 20px 6px 16px; }
  .surveys a {
    color: #a9a9a9; }
    .surveys a:hover {
      text-decoration: none; }
  .surveys .cont {
    padding: 25px 23px 25px;
    max-width: 492px; }
    .surveys .cont .list-unstyled {
      line-height: 1.4; }

.survey-file-browse .modal-dialog {
  max-width: 745px; }
.survey-file-browse .cont {
  padding: 20px 30px 25px 35px; }
.survey-file-browse .custom-select-option {
  max-width: 175px; }
  .survey-file-browse .custom-select-option select.form-control {
    font-size: 1em; }
.survey-file-browse .btn {
  border-radius: 8px; }
  .survey-file-browse .btn.btn-browse {
    padding: 4px 30px;
    margin-left: 30px; }
  .survey-file-browse .btn.btn-use-file, .survey-file-browse .btn.btn-cancel {
    padding: 4px 40px; }
  .survey-file-browse .btn.btn-cancel {
    background-color: #a6a6a6;
    margin-left: 35px; }
.survey-file-browse .preview-file {
  cursor: pointer;
  margin: 30px 0 16px; }
  .survey-file-browse .preview-file i {
    font-size: 3em;
    vertical-align: middle;
    margin-right: 7px; }
.survey-file-browse ul {
  margin-bottom: 50px; }
.survey-file-browse .scroll-style {
  background-color: #f4f4f4;
  overflow: auto;
  height: 340px;
  padding: 10px 0;
  border-radius: 8px;
  margin-bottom: 30px; }
  .survey-file-browse .scroll-style::-webkit-scrollbar-track {
    background: transparent; }
    .survey-file-browse .scroll-style::-webkit-scrollbar-track:hover {
      background: #c7c7c7;
      -webkit-transition: background 0.5s;
      transition: background 0.5s; }
  .survey-file-browse .scroll-style::-webkit-scrollbar {
    width: 4px;
    height: 4px; }
  .survey-file-browse .scroll-style::-webkit-scrollbar-thumb {
    background-color: #26a9d9; }
.survey-file-browse .table tr {
  width: 100%; }
  .survey-file-browse .table tr.active {
    background-color: #26a9d9;
    color: #fff; }
    .survey-file-browse .table tr.active td:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px; }
    .survey-file-browse .table tr.active td:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px; }
  .survey-file-browse .table tr td {
    padding: 4px 24px;
    border: none; }

@media screen and (max-width: 767px) {
  .survey-file-browse .table {
    display: block; }
    .survey-file-browse .table tr td:nth-of-type(1) {
      min-width: 150px; }
    .survey-file-browse .table tr td:nth-of-type(2) {
      min-width: 170px; }
    .survey-file-browse .table tr td:nth-of-type(3) {
      min-width: 100px; } }
.audience {
  max-width: 910px;
  padding: 60px 55px; }
  .audience .btn-new-audience {
    padding: 3px 20px 3px 18px; }
  .audience .cont {
    max-width: 800px; }
    .audience .cont .left-section {
      width: 200px;
      height: 100%;
      background-color: #f5f5f5;
      padding: 17px 0 40px; }
      .audience .cont .left-section .bg-lightblue {
        padding: 5px 10px 2px 18px; }
        .audience .cont .left-section .bg-lightblue .form-control {
          max-width: 145px;
          background-color: transparent;
          border-color: #fff;
          color: #fff;
          font-size: 1em; }
      .audience .cont .left-section .search {
        margin: 0 25px 15px 20px;
        max-width: 150px;
        position: relative; }
        .audience .cont .left-section .search .form-control {
          background-color: transparent;
          padding-right: 20px; }
        .audience .cont .left-section .search:after {
          position: absolute;
          font-family: "Fontawesome";
          font-size: 1.25em;
          content: "\f002";
          height: 1em;
          line-height: 1;
          right: 0;
          top: 30%;
          margin-top: -0.5em; }
      .audience .cont .left-section ul li {
        padding: 3px 7px 3px 22px;
        display: block;
        cursor: pointer; }
        .audience .cont .left-section ul li.active {
          color: #fff !important;
          background-color: #26a9d9; }
          .audience .cont .left-section ul li.active:after {
            font-family: "Fontawesome";
            content: "\f138";
            font-size: 1.2em;
            margin: -2px 0 0 0;
            float: right; }
        .audience .cont .left-section ul li:hover {
          color: #26a9d9; }
    .audience .cont .right-checkbox-list {
      padding: 15px 0 50px; }
      .audience .cont .right-checkbox-list .add-new {
        margin-bottom: 25px; }
        .audience .cont .right-checkbox-list .add-new .form-control.bg-lightgray {
          background-color: #f1f1f1 !important;
          border-radius: 5px;
          border-color: transparent;
          font-size: 1em;
          padding: 4px 8px;
          max-width: 250px; }
        .audience .cont .right-checkbox-list .add-new .btn-delete {
          padding: 3px 10px;
          margin-right: 12px; }
        .audience .cont .right-checkbox-list .add-new .btn-save {
          padding: 3px 15px;
          background-color: #43d67e; }
      .audience .cont .right-checkbox-list ul {
        margin: 0 auto; }
        .audience .cont .right-checkbox-list ul li .custom-checkbox {
          /* checkbox aspect */
          /* checked mark aspect */
          /* checked mark aspect changes */ }
          .audience .cont .right-checkbox-list ul li .custom-checkbox input[type="checkbox"]:not(:checked) + label,
          .audience .cont .right-checkbox-list ul li .custom-checkbox input[type="checkbox"]:checked + label {
            padding-left: 24px;
            font-weight: 300; }
          .audience .cont .right-checkbox-list ul li .custom-checkbox input[type="checkbox"]:not(:checked) + label:before,
          .audience .cont .right-checkbox-list ul li .custom-checkbox input[type="checkbox"]:checked + label:before {
            left: 0;
            top: 0;
            width: 13px;
            height: 13px;
            border-radius: 2px; }
          .audience .cont .right-checkbox-list ul li .custom-checkbox input[type="checkbox"]:not(:checked) + label:after,
          .audience .cont .right-checkbox-list ul li .custom-checkbox input[type="checkbox"]:checked + label:after {
            content: " "; }
          .audience .cont .right-checkbox-list ul li .custom-checkbox input[type="checkbox"]:not(:checked) + label:before {
            background-color: #a9a9a9; }
          .audience .cont .right-checkbox-list ul li .custom-checkbox input[type="checkbox"]:checked + label:before {
            font-family: "Fontawesome";
            content: "\f00c";
            background-color: #56e82e;
            color: #fff;
            padding-top: 1px;
            padding-left: 0.5px;
            font-size: 0.9em; }

@media screen and (max-width: 1199px) {
  .audience {
    padding: 60px 20px; }
    .audience .cont .left-section {
      width: 180px; }
    .audience .cont .right-checkbox-list .add-new {
      margin-left: -10px; }
      .audience .cont .right-checkbox-list .add-new .form-control.bg-lightgray {
        max-width: 200px; }
    .audience .cont .right-checkbox-list ul {
      margin-left: -10px; } }
@media screen and (max-width: 991px) {
  .right-section .audience {
    padding: 70px 30px !important; }
    .right-section .audience .right-checkbox-list .add-new {
      margin-left: -15px; }
    .right-section .audience .right-checkbox-list ul {
      margin-left: -15px; } }
@media screen and (max-width: 767px) {
  .right-section .audience {
    padding: 70px 25px !important; }
    .right-section .audience .cont .left-section {
      width: 100%; }
      .right-section .audience .cont .left-section .search {
        max-width: 100%;
        float: none; }
      .right-section .audience .cont .left-section ul li.active:after {
        content: "\f13a"; }
    .right-section .audience .cont .right-checkbox-list {
      padding: 30px 20px 50px; }
      .right-section .audience .cont .right-checkbox-list .add-new {
        margin-left: 0; }
      .right-section .audience .cont .right-checkbox-list ul {
        margin-left: 0; } }
@media screen and (max-width: 575px) {
  .right-section .audience .cont .right-checkbox-list .add-new .form-control.bg-lightgray {
    display: block;
    max-width: 100%; } }
.blacklist {
  padding: 60px 56px;
  max-width: 862px; }
  .blacklist .btn-edit {
    margin-top: 6px;
    padding: 4px 21px; }
  .blacklist .cont {
    padding: 16px 20px 50px; }
    .blacklist .cont .bg-lightgray {
      background-color: #bfbfbf;
      color: #fff;
      padding: 2.5px 24px; }
      .blacklist .cont .bg-lightgray.numbers {
        padding: 2.5px 35px 2.5px 25px;
        margin-right: 20px; }
    .blacklist .cont .list-num {
      margin-top: 27px;
      max-width: 430px;
      line-height: 21px; }

@media screen and (max-width: 767px) {
  .blacklist .cont .bg-lightgray {
    padding: 2.5px 14px; }
    .blacklist .cont .bg-lightgray.numbers {
      padding: 2.5px 25px 2.5px 15px;
      margin-right: 15px; }
  .blacklist .cont .list-num {
    text-align: center; } }

/*# sourceMappingURL=main.css.map */