.current-campaign {
	max-width: 1190px;
	padding: 85px 55px;

	.cont {
		max-width: 625px;
		position: relative;
		

		&.campaign {
			padding: 55px 30px 75px 35px;
			max-width: 400px;

			p {
				margin-bottom: 1.1rem;
			}

			table {
				tr {
					th {
						font-weight: normal;
					}

					th, td {
						line-height: 1.4;
						vertical-align: top;
						min-width: 110px;
						max-width: 170px;
					}
				}
			}
		}


		.leftbar {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 150px;
			background-color: $lightgray06-color;

			ul {
				margin-top: 32px;

				li {
					a{
						display: block;
						font-weight: 500;
						color: $lightblue03-color;
						padding: 6px 7px 6px 25px;

						&:hover {
							text-decoration: none;
						}

						&.active {
							background-color: $lightblue04-color;
							color: #fff;

							&:after {
								font-family: "Fontawesome";
								content: "\f054";
								font-size: 1.25em;
								margin: -3px 0 0 0;
								float: right;	
							}
						}
					}
				}
			}
		}


		.right-section {
			margin-left: 150px;

		  .schedule {
		  	padding: 30px 55px 25px 35px;

		  	.start-date {
		  		margin-bottom: 12px;
		  	}

		  	.end-date {
		  		margin-bottom: 30px;
		  	}
		  }

			.configuration {
				padding: 40px 20px 70px 40px; 
			}

			.alerts {
				padding: 50px 40px 85px 40px; 

			  .campaign-alerts {
			  	margin-bottom: 60px;

			  	.cont-lightgray {
			  		background-color: $lightgray01-color;
			  		padding: 7px 15px 2px;
			  		@extend %border-8;

				  	.bg-lightblue {
							color: #fff;
			  		  @extend %border-8;
							width: auto;
							display: inline-block;
							padding: 2.5px 15px;
							font-weight: 500;
							margin: 0 5px 5px 0;
				  	}
			  	}
			  }
			}
		}

	}
}

@media screen and (max-width: 1280px) {
	.current-campaign {
		.cont {
			.right-section {
				.alerts {

					.ml-33 {
						margin-left: 0;
					}
				}
			}
		}
	}
}
